{{ $skills := .Site.Data.skills }}

<section id="skills" class="aqua text-light">
  <h2 class="heading">{{ $skills.title }}</h2>
  <br>

  <h4>LANGUAGES</h4>
  {{ range $key, $value := $skills.skills1 }}

  <div class="skill">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  
  {{ end }}
  <h4>DATABASE</h4>
  {{ range $key, $value := $skills.skills2 }}

  <div class="skill">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  
  {{ end }}
  <h4>WEB DEVELOPMENT</h4>
  {{ range $key, $value := $skills.skills3 }}

  <div class="skill">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  
  {{ end }}
  <h4>FRAMEWORKS</h4>
  {{ range $key, $value := $skills.skills4 }}

  <div class="skill">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  
  {{ end }}
</section>