{{ $skills := .Site.Data.skills }}

<section id="skills" class="aqua text-light">
  <h2 class="heading">{{ $skills.title }}</h2>
  <br>

  <h4>LANGUAGES</h4>
<!--   {{ range $key, $value := $skills.skills1 }} -->

  <div class="skill">
<!--     <span class="h5">{{ $key }}</span>
    <p>{{ $value }}</p> -->
    <p>C/C++ , Java, Javascript, Python</p>
  </div>
  
<!--   {{ end }} -->
  
  <h4>WEB/APP DEVELOPMENT</h4>
<!--   {{ range $key, $value := $skills.skills3 }} -->

  <div class="skill">
<!--     <span class="h5">{{ $key }}</span>
    <p>{{ $value }}</p> -->
    <p>Node.js, ReactJS, AngularJS, PHP, DJango, AndriodStudio, React-native</p>
  </div>
  
<!--   {{ end }} -->
  <h4>DATABASE</h4>
<!--   {{ range $key, $value := $skills.skills2 }} -->

  <div class="skill">
<!--     <span class="h5">{{ $key }}</span>
    <p>{{ $value }}</p> -->
    <p>MySQL, Oracle, SQLite, CockroachDB, PostgreSQL, MongoDB</p>
  </div>
  
<!--   {{ end }} -->

  <h4>ML FRAMEWORKS</h4>
<!--   {{ range $key, $value := $skills.skills4 }} -->

  <div class="skill">
<!--     <span class="h5">{{ $key }}</span>
    <p>{{ $value }}</p> -->
    <p>Numpy, Pandas, Seaborn, Matplotlib, Scikit-learn, Pytorch, NLTK, Tensorflow</p>
  </div>
  
<!--   {{ end }} -->
</section>
