{{ $skills := .Site.Data.skills }}

<section id="skills" class="aqua text-light">
  <h2 class="heading">{{ $skills.title }}</h2>
  <br>

  <h4>LANGUAGES</h4>
  <div class="skill">
    <span class="h5">{{ $skills.skills1 }}</span>
  </div>

  
  <h4>WEB/APP DEVELOPMENT</h4>
  <div class="skill">
    <span class="h5">{{ $skills.skills3 }}</span>
  </div>

  <h4>ML FRAMEWORKS</h4>
  <div class="skill">
    <span class="h5">{{ $skills.skills4 }}</span>
  </div>

  <h4>DATABASE</h4>
  <div class="skill">
    <span class="h5">{{ $skills.skills2 }}</span>
  </div>

  <h4>TESTING & AUTOMATION</h4>
  <div class="skill">
    <span class="h5">{{ $skills.skills5 }}</span>
  </div>

  
</section>
